body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1vw;
    background: 
        linear-gradient(
            270deg, 
            rgba(18, 63, 210, 0.9),
            rgba(18, 124, 210, .5),
            rgba(27, 129, 212, 0.623),
            rgba(41, 177, 182, 0.582),
            rgba(66, 194, 199, 0.74),
            rgba(18, 203, 210, .6)
            );
    background-size: 400% 400%;
    animation: wave 12s ease infinite;
}

@keyframes wave {
    0%{background-position:0% 25%}
    25%{background-position:100% 25%}
    50%{background-position:0% 50%}
    75%{background-position:50% 100%}
    100%{background-position:0% 75%}
}

@font-face{
    font-family: latoLite;
    src: url(Lato-Light.ttf)
}

@font-face{
    font-family: latoRegular;
    src: url(Lato-Regular.ttf)
}

@font-face{
    font-family: latoBlack;
    src: url(Lato-Black.ttf)
}

h1{
    text-align: center;
    letter-spacing: 1px;
    font-family: latoBlack;
    font-size: 4rem;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);

}

h2{
    font-family: latoRegular;
}

h3{
    font-family: latoRegular;
    letter-spacing: 1px;
}

.intro-details {
    display: flex;
    justify-content: space-around;
}
.intro-details img{
    width: 45%;
}
.intro-details p {
    width: 45%;
}

body ul{
    list-style: none;
}

.info-text{
    font-family: latoLite;
}

.intro-eventbrite{
    margin: 3px;
    display:flex;
    justify-content: space-around;
}

.cost-insurance-covid{
    margin: 3px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.event-google{
    margin: 3px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.covid{
    display:flex;
    justify-content: center;
}

.brand-florence.tshirt-images{
    width: 25%;
    border-radius: 50%;
}
.tshirt-images{
    width: 35%;
    border-radius: 60%;
}

.my-card{
    background: 
        linear-gradient(
            135deg, 
            rgba(235, 229, 229, 0.884), 
            rgb(255, 255, 255)
        );    
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -7px -7px 10px 0 rgba(255, 255, 255, 0.3);
    padding: 7px 20px;
    width: 50vw;
    border-radius: 15px;
    margin: 3px;
}

.my-card.my-eventbrite{
    background: 
        linear-gradient(
            135deg, 
            rgba(31, 31, 31, 0.884), 
            rgb(91, 91, 94)
        );   
    color:white; 
    padding: 7px 20px 20px 20px;
    width:75vw;
    text-align: center;
}
.teams-video{
    display:flex;
    justify-content: center;
}
#doc-title{
    display: none;
}
.teams{
    width: 507px;
    height: 278px;
}
.game-schedule {
    height: 273px;
}
.my-card.my-covid-card{
    margin: 7px;
    width: 75vw;
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
}

.foot-links{
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius:50%;
    background-color:#6d758744;
    box-shadow:7px 7px 15px rgba(55,84,170,0.15),-7px -7px 20px #fff,inset 0px 0px 4px rgba(255,255,255,0.2),inset 7px 7px 15px rgba(55,84,170,0),inset -7px -7px 20px rgba(255,255,255,0),0px 0px 4px rgba(255,255,255,0) !important;
}
.my-signature{
    height: 5px;
    display:flex;
    justify-content: center;
    font-family: latoBlack;
}

@media only screen and (max-width: 600px) {
    .my-card{
        width:90%;
        text-align: center;
        align-items: center;
    }
    .my-card.my-eventbrite, .my-card.my-covid-card {
        width: 100%;
    }
    h1{
        font-size: 2.5rem;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    .cost-insurance-covid, .event-google{
        flex-direction: column;
    }
    .video{
      display: none;
    }
    .intro-details {
      flex-direction: column;
      align-items: center;
    }
    .intro-details img{
        width: 90%;
    }
    .intro-details p {
        width: 90%;
    }
    ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; }
    .teams{
        width:unset;
    }

}

